<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>About Us</title>
    </h:head>
    <h:body>
        <div class="matter">
            <div class="container-fluid">

                <!-- Title starts -->
                <div class="page-title">
                  <h2>Sobre Nosotros</h2>
                  <p></p>
                  <hr />
                </div>
                <!-- Title ends -->

                <!-- Breadcrumb starts -->

                <ul class="breadcrumb">
                  <li><a href="#">Inicio</a> <span class="divider">/</span></li>
                  <li class="active">Sobre Nosotros</li>
                </ul>        

                <!-- Breadcrumb ends -->

                <hr />

                <!-- Content starts -->

                <div class="box-body aboutus">
                  <div class="row-fluid">
                                    <div class="span3">
                                      <!-- Staff #1 -->
                                      <div class="staff">
                                         <!-- Picture -->
                                         <div class="pic">
                                            <img src="/O2MStoreJSF-war/resources/images/428233_3162231742878_1217858782_n.jpg" alt="" />
                                         </div>
                                         <!-- Details -->
                                         <div class="details">
                                            <!-- Name and designation -->
                                            <div class="desig pull-left">
                                               <p class="name">Juan Cañete Rodríguez</p>
                                               <em>Estudiante</em>
                                            </div>
                                            <!-- Social media details. Replace # with profile links -->
                                            <div class="asocial pull-right">
                                               <a href="#"><i class="icon-facebook"></i></a>
                                               <a href="#"><i class="icon-twitter"></i></a>
                                               <a href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <!-- Description -->
                                            <p class="adesc">Estudiante del Máster Inftel XI impartido por Fundación Vodafone y la UMA</p>
                                            <p><em>Lucena (Córdoba)</em></p>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="span2">
                                      <!-- Staff #2 -->
                                      <div class="staff">
                                         <div class="pic">
                                            <img src="/O2MStoreJSF-war/resources/images/descarga.gif" alt="" />
                                         </div>
                                         <div class="details">
                                            <div class="desig pull-left">
                                               <p class="name">Victor Caballero García</p>
                                               <em>Estudiante</em>
                                            </div>
                                            <div class="asocial pull-right">
                                               <a href="#"><i class="icon-facebook"></i></a>
                                               <a href="#"><i class="icon-twitter"></i></a>
                                               <a href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p class="adesc">Estudiante del Máster Inftel XI impartido por Fundación Vodafone y la UMA</p>
                                            <p><em>Añora (Córdoba)</em></p>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="span2">
                                      <!-- Staff #3 -->
                                      <div class="staff">
                                         <div class="pic">
                                            <img src="/O2MStoreJSF-war/resources/images/599012_10200408849239512_1884685703_n.jpg" width="500" height="800" alt="" />
                                         </div>
                                         <div class="details">
                                            <div class="desig pull-left">
                                               <p class="name">David Cruz Toral</p>
                                               <em>Estudiante</em>
                                            </div>
                                            <div class="asocial pull-right">
                                               <a href="#"><i class="icon-facebook"></i></a>
                                               <a href="#"><i class="icon-twitter"></i></a>
                                               <a href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p class="adesc">Estudiante del Máster Inftel XI impartido por Fundación Vodafone y la UMA</p>
                                            <p><em>Guadix (Granada)</em></p>
                                         </div>
                                      </div>
                                   </div>


                    </div>


          
                </div>

            <!-- Content ends -->

            </div>
        </div>
    
        <!-- Scroll to top -->
        <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

        <!-- JS -->
        <script src="content/js/custom.js"></script> <!-- Main js file -->
        
        
    </h:body>
</html>

