<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Mejor Valoradas</title>
    </h:head>
    <h:body>
        <!-- Image blocks starts -->
              <div class="mini-title">
                <!-- Title -->
                <h3>Más Valorados</h3>
              </div>
             <div class="row-fluid">
                 <ui:repeat var="prod" value="#{listasBean.listProductMV}">
                    <div class="span4">
                      <!-- Image block -->
                      <div class="box-body">
                        <div class="block-image">
                          <!-- Link -->
                          <a href="#">
                            <!-- Overlay content -->
                            <div class="image-overlay">
                                <div class="image-big-text">#{prod.nombrep}</div>
                                <div class="image-small-text">#{prod.descripcion}</div>
                            </div>
                            <!-- Image link -->
                            <img src="data:image/gif;base64,#{prod.imagen}"/>

                          </a>
                        </div>
                      </div>

                    </div>
                </ui:repeat>
              </div>

              <!-- Image blocks ends -->

              <hr />
    </h:body>
</html>

