<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Ultimos Subidos</title>
    </h:head>
    <h:body>
        <!-- Recent posts starts -->

        <div class="box-body recent-posts">
          <div class="mini-title">
            <!-- Title -->
            <h3>Últimos productos</h3>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <div class="carousel_nav pull-left">
                <!-- Carousel navigation -->
                <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
              </div>
              <div class="clearfix"></div>
              <ul class="rps-carousel">
                  <!-- Recent posts #1 -->
                  <!-- Each carousel should be enclosed inside "li" tag -->
                  <ui:repeat var="prod" value="#{listasBean.listProductRP}">

                  <li>
                      <div class="rp-item"> 
                        <!-- Image. -->
                        <div class="rp-image">        
                          <a href="#"><img src="data:image/gif;base64,#{prod.imagen}"/></a>
                        </div>
                        <div class="rp-details">
                          <!-- Title and para -->
                          <h6><a href="#">#{prod.nombrep}</a></h6>
                          <p>#{prod.descripcion}</p>         
                        </div>                
                      </div>        
                  </li>
                </ui:repeat>                                                                                             
              </ul>

            </div>
          </div>

        </div>

        <!-- Recent posts ends -->
    </h:body>
</html>

