<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Carrito de la compra</title>
    </h:head>
    <h:body>
        <!-- Main content starts -->
        <div class="content">
            <div class="matter">
                <div class="container-fluid">
                    <!-- Title starts -->
                    
                    <div class="page-title">
                        <h2>Carrito de la compra</h2>
                        <hr />
                    </div>
                    
                    <!-- Title ends -->
                    
                    <!-- Breadcrumb starts -->

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Library</a> <span class="divider">/</span></li>
                        <li class="active">Data</li>
                    </ul>        

                    <!-- Breadcrumb ends -->

                    <hr />
                    
                    <!-- Content starts -->
                    
                    <div class="box-body">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="well">
                                    <!-- Your details -->
                                    <div class="address">
                                        <address>
                                            <h6>#{loginBean.user.nombre}</h6>
                                            #{loginBean.user.apellidos}<br/>
                                            #{loginBean.user.rol}<br/>
                                            <a href="mailto:#">#{loginBean.user.email}</a>
                                            <img src="data:image/gif;base64,#{loginBean.user.imagen}" width="120" height="120" alt="imagen"/>
                                        </address>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row-fluid">
                                <div class="mini-title">
                                    <h3>PRODUCTOS EN EL CARRO</h3>
                                </div>
                                <h:form>
                                    <h:dataTable class="table" value="#{carritoBean.productsFromMap(loginBean.user)}" var="prod" border="1">
                                        <h:column>
                                            <h:commandButton value="Eliminar">
                                                <f:ajax listener="#{carritoBean.deleteProduct(prod)}" render="@form" />
                                            </h:commandButton>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Nombre" />
                                            </f:facet>
                                            <h:outputText value="#{prod.nombrep}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Descripción" />
                                            </f:facet>
                                            <h:outputText  value="#{prod.descripcion}"/>

                                        </h:column>
                                    </h:dataTable>
                                </h:form>
   <!--                              <table >
                                    
                               <c:forEach var="prod" items="${product2}">
                                    
                                    
                                         Image block 
                                        
                                            
                                                 Link 
                                                <a href="#">
                                                     Overlay content 
                                                    
                                                        <tr class="tr">
                                                            <td class="td"><div class="image-big-text">${prod.nombrep}</div></td>
                                                            <td class="td"><div class="image-small-text">${prod.descripcion}</div></td>
                                                            <td class="td">
                                                                <button onclick="deleteProduct(${prod.idproducto})">Eliminar</button>
                                                            </td>
                                                        </tr>
                                                   
                                                            
                                                         
                                                </a>
                                            
                                        

                                    
                                </c:forEach>
                                </table>-->
                            </div>
                            <h:form>
                                <h:commandButton action="#{carritoBean.deleteAllProducts()}" value="Finalizar" />
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Mainbar ends -->
            <div class="clearfix"></div>
        </div>
    <!-- Main content ends -->
    </h:body>
</html>

