<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div id="matter1">
            <div class="container-fluid">

                <!-- Title starts -->
                <div class="page-title">
                    <h2>Catálogo</h2>
                    <p>Vea todos los productos disponibles</p>
                    <hr />
                </div>
                <!-- Title ends -->

                <!-- Breadcrumb starts -->

                <ul class="breadcrumb">
                    <li><a href="#">Inicio</a> <span class="divider">/</span></li>
                    <li><a href="#">Catalogo</a> <span class="divider">/</span></li>
                    <li class="active">${category}</li>
                </ul>        

                <!-- Breadcrumb ends -->

                <hr />

                <!-- Content starts -->
                <div class="span4">


                </div>
                <div class="box-body">
                    <div class="row-fluid">

                        <div class="span12">

                            <p>
                                <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
                            <div class="button">
                                <ul id="filters">
                                    <li><a href="#" data-filter="*" class="btn btn-danger">All</a></li>
                                    <li><a href="#" data-filter=".one" class="btn btn-danger">1 Star</a></li>
                                    <li><a href="#" data-filter=".two" class="btn btn-danger">2 Stars</a></li>
                                    <li><a href="#" data-filter=".three" class="btn btn-danger">3 Stars</a></li>
                                    <li><a href="#" data-filter=".four" class="btn btn-danger">4 Stars</a></li>
                                    <li><a href="#" data-filter=".five" class="btn btn-danger">5 Stars</a></li>
                                </ul>
                            </div>
                            </p>

                            <h:panelGroup layout="block" id="portfolio" class="nocolor">

                                <!-- Add the above used filter names inside div tag. You can add more than one filter names. F
                                or image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
                                <h:form>
                                    <ui:repeat var="prod" value="#{carritoBean.listProduct}">
                                       
                                        <!-- Image block -->
                                        <!-- Cambiar categoría -->
                                        
                                            <div class="box-body">
                                                <div class="block-image">
                                                    <!--<a>-->
                                                    <div class="image-overlay">
                                                        <div class="image-big-text">#{prod.descripcion}</div>
                                                        <div class="image-small-text">#{prod.nombrep}</div>

                                                        <h:commandButton value="Comprar">
                                                            <f:ajax listener="#{carritoBean.buyOneProduct(prod)}" execute="@form" />
                                                        </h:commandButton>


                                                    </div>
                                                    <img src="data:image/gif;base64,${prod.imagen}" />

                                                    <!--</a>-->
                                                </div>

                                            </div>
                                        <!--</div>-->
                                    </ui:repeat>
                                </h:form>
                            </h:panelGroup>

                        </div>

                    </div>
                </div>

                <!-- Content ends -->

            </div>
        </div>



        <!-- Scroll to top -->
        <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

        <!-- JS -->
        <h:outputScript name="custom.js" library="js" /> <!-- Main js file -->
    </h:body>
</html>

