<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <!--Title and other stuffs -->
        <title>O2M Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content=""/>


        <!-- HTML5 Support for IE -->
        <!--[if lt IE 9]>
        <script src="js/html5shim.js"></script>
        <![endif]-->

        <!-- Favicon -->
        <link rel="shortcut icon" href="resources/images/logo-icon.png"/>
        <!-- JS-->
        <!--     
        -->
    </h:head>
    <h:body>
        <!--Including CSS-->
        <h:outputStylesheet library="css" name='google-font.css' />
        <!-- Stylesheets -->
        <h:outputStylesheet library="css" name="bootstrap.css"  />
        <!-- Font awesome icon -->
        <h:outputStylesheet library="css" name="font-awesome.css"/>
        <!-- Flex slider -->
        <h:outputStylesheet library="css" name="flexslider.css"/>
        <!-- prettyPhoto -->
        <h:outputStylesheet library="css" name="prettyPhoto.css"/>
        <!-- Main stylesheet -->
        <h:outputStylesheet library="css" name="style.css" />
        <!-- Bootstrap responsive -->
        <h:outputStylesheet library="css" name="bootstrap-responsive.css" />
    <!--<f:if test="${not empty login}">
        <h:body onload="cargarLogin('${login}');">
    </f:if>
    <h:body><f:if test="${empty login}">
        <h:body>
    </f:if>
        -->
        <!-- Navbar starts -->

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <h:form class="navbar">
                        <h:panelGroup layout="block" class="nav-collapse collapse" id="navigbar">
                            <ul class="nav pull-right">
                                <!--<h:form>
                                    <h:commandLink class="br-purple" value="Log in" onclick="cargarLogin();">
                                        
                                    </h:commandLink>
                                </h:form>-->
                                <h:panelGroup rendered="#{!loginBean.login}">
                                    <li><h:commandLink class="br-purple"><i class="icon-user"></i> Log In
                                            <f:setPropertyActionListener target="#{loginBean.showLogin}" value="true" />
                                            <f:setPropertyActionListener target="#{carritoBean.initPage}" value="false" />
                                        </h:commandLink></li>
                                    <li><a href="#" onclick="cargarSignIn();" class="br-purple"><i class="icon-signin"></i>Sign In </a></li>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{loginBean.login}">
                                    <li><a href="#" onclick="cargarProfile();" class="br-purple"><i class="icon-user"></i> Bienvenido #{loginBean.user.nombre} #{loginBean.user.apellidos}</a></li>
                                    <li><a href="#" onclick="cargarNewProduct();" class="br-purple"><i class="icon-plus"></i>Nuevo producto </a></li>
                                    <li><a href="#" onclick="cargarCarrito();" class="br-purple"><i class="icon-shopping-cart"></i>Carrito de la compra</a></li>
                                    <li id="loadingIco"></li>
                                    <li>

                                        <h:commandLink action="#{loginBean.doLogOut}"><i class="icon-signout"></i>Log Out
                                            <f:setPropertyActionListener target="#{carritoBean.initPage}" value="true" >
                                                <f:ajax render="navigbar :matter1" />
                                            </f:setPropertyActionListener>
                                            
                                        </h:commandLink>

                                        <!--<a href="#" onclick="cargarCarrito();" class="br-purple"><i class="icon-user"></i>Log Out</a>-->
                                    </li>
                                </h:panelGroup>
                                <!--//////-->

<!--<c:if test="${empty user}">  
<li><a href="#" onclick="cargarLogin();" class="br-purple"><i class="icon-user"></i> Log In </a></li>
<li><a href="#" onclick="cargarReg();" class="br-purple"><i class="icon-user"></i> Registrar </a></li>
</c:if>

<c:if test="${not empty user}">  
<li><a href="#" onclick="cargarProfile();" class="br-purple"><i class="icon-user"></i> Bienvenido ${user.nombre} ${user.apellidos}</a></li>
<li><a href="#" onclick="cargarCarrito();" class="br-purple"><i class="icon-user"></i>Carrito de la compra</a></li>
<li><a href="#" onclick="cargarProduct();" class="br-purple"><i class="icon-user"></i>Registrar un producto</a></li>
<li><a href="/o2mstore/logout">Log Out</a></li>
</c:if>-->
                            </ul>
                        </h:panelGroup>
                    </h:form>
                </div>
            </div>
        </div>

        <!-- Navbar ends -->


        <!-- Sliding box starts -->
        <div class="slide-box">

            <div class="padd">
                <div class="slide-box-button">
                    <i class="icon-chevron-left"></i>
                </div>
                <h5>Redes Sociales</h5>
                Aquí puedes encontrar todas las redes sociales en las cuales estamos presentes, visitanos, siguenos. ;)
                <p>Información</p>
                <hr />

                <div class="social">
                    <a href="https://www.facebook.com/pages/O2M-Store/620024354731403?fref=ts"><i class="icon-facebook facebook"></i></a>
                    <a href="https://twitter.com/O2MStore1"><i class="icon-twitter twitter"></i></a>
                    <a href="https://es.linkedin.com/"><i class="icon-linkedin linkedin"></i></a>
                    <a href="https://accounts.google.com/"><i class="icon-google-plus google-plus"></i></a>
                    <a href="https://www.pinterest.com/"><i class="icon-pinterest pinterest"></i></a>
                </div>

            </div>
        </div>

        <!-- Sliding box ends -->    

        <!-- Main content starts -->

        <div class="content">

            <!-- Sidebar starts -->
            <h:panelGroup layout="block" class="sidebar">

                <!-- Logo -->
                <div class="logo">
                    <h:link outcome="indexStore">
                        <h:graphicImage library="images" name="logo4.png" />
                    </h:link>
                </div>

                <div class="sidebar-dropdown"><a href="#">Navegacion</a></div>

                <!--- Sidebar navigation -->
                <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->

                <!-- Colors: Add the class "br-red" or "br-blue" or "br-green" or "br-orange" or "br-purple" or "br-yellow" to anchor tags to create colorful left border -->
                <h:panelGroup layout="block" class="s-content">
                    <h:form>
                        <ul id="nav">
                            <!-- Main menu with font awesome icon -->


                            <li>
                                <h:commandLink class="open br-red">
                                    <f:setPropertyActionListener  target="#{carritoBean.initPage}" value="true"/>
                                    <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                    <i class="icon-home"></i> Inicio 

                                </h:commandLink>
                                <!-- Sub menu markup 
                                <ul>
                                  <li><a href="#">Submenu #1</a></li>
                                  <li><a href="#">Submenu #2</a></li>
                                  <li><a href="#">Submenu #3</a></li>
                                </ul>-->
                            </li>

                            <li class="has_sub"><a href="#" class="br-blue"><i class="icon-list-alt"></i> Aplicaciones <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                                <ul>
                                    <li>
                                        <h:commandLink>Android
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('android')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink >Blackberry
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('blackberry')}" render=":matter1" />
                                        </h:commandLink>

                                    </li>
                                    <li>
                                        <h:commandLink>iPhone
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('iphone')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Sin Especificar
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('appUnEspecified')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>

                                </ul>
                            </li>  

                            <li class="has_sub"><a href="#" class="br-green"><i class="icon-film"></i>Películas<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                                <ul>
                                    <li>
                                        <h:commandLink>Terror
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('terror')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Comedia
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('comedia')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Acción
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('accion')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Ciencia Ficción
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('cienciaficcion')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Animación
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('animacion')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Drama
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('drama')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Thriller
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('thriller')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Sin Especificar
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('pelUnEspecified')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li>              

                            <li class="has_sub"><a href="#" class="br-orange"><i class="icon-music"></i> Música <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                                <ul>
                                    <li>
                                        <h:commandLink>Pop
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('pop')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Rock
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('rock')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Metal
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('metal')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Clásica
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('clasica')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Hip Hop
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('hiphop')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Disco
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('disco')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Sin Especificar
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('musUnEspecified')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li> 

                            <li class="has_sub"><a href="#" class="br-white"><i class="icon-book"></i> Libros <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                                <ul>
                                    <li>
                                        <h:commandLink>Ciencias
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('ciencias')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Cocina
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('cocina')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Historia
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('historia')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Informática
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('informatica')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Clásicos
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('clasicos')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Infantil
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('infantil')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                    <li>
                                        <h:commandLink>Sin Especificar
                                            <f:setPropertyActionListener value="false" target="#{carritoBean.initPage}" />
                                            <f:setPropertyActionListener target="#{carritoBean.endOrder}" value="false" />
                                            <f:ajax listener="#{carritoBean.updateListProductByCat('libUnEspecified')}" render=":matter1" />
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li> 
                            <li>
                                <a href="#" onclick="cargarAU();" class="br-purple"><i class="icon-user"></i> Quienes somos</a></li>
                            <li>
                                <a href="#" onclick="cargarCU();" class="br-red"><i class="icon-envelope-alt"></i> Contactanos</a></li>
                        </ul>
                    </h:form>
                    <!-- Sidebar search -->


                   <h:form class="form-search s-widget">
                       <h:panelGroup class="input-append">
                           <h:inputText value="#{carritoBean.busquedaProd}"  class="input-small search-query"/>
                           <h:commandButton value="Buscar" class="btn btn-danger">
                               <f:ajax listener="#{carritoBean.busquedaProducto()}" render=":matter1" execute="@form" />
                           </h:commandButton>
                                
                            
                       </h:panelGroup>
                    </h:form>
                </h:panelGroup>
            </h:panelGroup>
            <!-- Sidebar ends -->

            <!-- Mainbar starts -->
            <h:panelGroup layout="block" class="mainbar">

                <!-- Contact box starts -->

                <div class="cslider-box">
                    <div class="cslider">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span6">

                                    <div class="box-body">
                                        <h6>Sobre nosotros</h6>
                                        <hr />
                                        <p>
                                            <h:link outcome="indexStore">
                                                <h:graphicImage library="images" name="logo4.png" class="alignleft" width="150" />
                                            </h:link>  Somos <a href="#" onclick="cargarAU();" class="br-purple"> tres alumnos</a> del máster INFTEL, impartido en Málaga. <br/>Esta página ha sido creada para completar el proyecto del módulo de JavaEE en el que se pedia crear una tienda virtual.
                                        </p>
                                        <div class="clearfix"></div>
                                        <hr />

                                        <div class="social">
                                            <a href="https://www.facebook.com/pages/O2M-Store/620024354731403?fref=ts"><i class="icon-facebook facebook"></i></a>
                                            <a href="https://twitter.com/O2MStore1"><i class="icon-twitter twitter"></i></a>
                                            <a href="https://es.linkedin.com/"><i class="icon-linkedin linkedin"></i></a>
                                            <a href="https://accounts.google.com/"><i class="icon-google-plus google-plus"></i></a>
                                            <a href="https://www.pinterest.com/"><i class="icon-pinterest pinterest"></i></a>
                                        </div>

                                        <hr />
                                        <div class="address">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <address>
                                                        <!-- Company name -->
                                                        <h6>ETSIT Málaga</h6>
                                                        <!-- Address -->
                                                        Bulevar Louis Pasteur, 35<br/>
                                                        29071 Málaga<br/>
                                                    </address>
                                                </div>
                                            </div>
                                        </div>

                                    </div>  

                                </div>
                                <div class="span6">

                                    <div class="box-body">

                                        <h6>Contáctanos</h6>
                                        <hr />
                                        <div class="form">
                                            <form class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label" for="name">Nombre</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-large" id="name"/>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="email">Email</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-large" id="email"/>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="website">Página web</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-large" id="website"/>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label" for="comment">Comentario</label>
                                                    <div class="controls">
                                                        <textarea class="input-xlarge" id="comment" rows="4"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-danger">Enviar</button>
                                                    <button type="reset" class="btn">Reset</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div> 

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cslider-btn"><i class="icon-angle-down"></i></div>
                </div>

                <!-- Contact box ends -->
                <div class="errMsg">

                </div>

                <h:panelGroup layout="block" id="matter1">
                    <h:panelGroup layout="block" id="container-fluid">
                        <h:panelGroup layout="block" id="categories">
                            <h:panelGroup layout="block" id="includeLogin" rendered="#{loginBean.showLogin}">
                                <ui:include src="login.xhtml" />
                            </h:panelGroup>
                            <h:panelGroup layout="block" id="includeCat" rendered="#{loginBean.showLogin == false}">
                                <h:panelGroup layout="block" rendered="#{carritoBean.initPage == false}">
                                    <ui:include src="categoriesProd.xhtml" />
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup class="row-fluid" rendered="#{carritoBean.initPage == true}">

                                <div class="span12">            
                                    <!-- Slider (Flex Slider) -->

                                    <div class="box-body">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <!-- Each slide should be enclosed inside li tag. -->

                                                <!-- Slide #1 -->
                                                <li>

                                                    <!-- Image -->
                                                    <h:link outcome="indexStore">
                                                        <h:graphicImage library="images" name="s2.png" />
                                                    </h:link>

                                                    <!-- Caption -->
                                                    <div class="flex-caption">

                                                        <!-- Title -->
                                                        <h3>Tus aplicaciones</h3>
                                                        <!-- Para -->
                                                        <p>Una gran variedad de aplicaciones para tus dispositivos móviles de cualquier plataforma (Android, Iphone o BlackBerry)</p>
                                                    </div>
                                                </li>

                                                <!-- Slide #2 -->
                                                <li>
                                                    <h:link outcome="indexStore">
                                                        <h:graphicImage library="images" name="portadaP.jpg" />
                                                    </h:link>

                                                    <div class="flex-caption">

                                                        <h3>Películas</h3>
                                                        <p>Todos los estrenos y clásicos del cine disponibles en un solo click.</p>
                                                    </div>                  
                                                </li>

                                                <li>
                                                    <h:link outcome="indexStore">
                                                        <h:graphicImage library="images" name="portadaM.jpg" />
                                                    </h:link>
                                                    <div class="flex-caption">

                                                        <h3>Música</h3>
                                                        <p>Gran variedad de estilos y artistas donde encontrar la canción que te llegue al corazón.</p>
                                                    </div>                  
                                                </li>

                                                <li>
                                                    <h:link outcome="indexStore">
                                                        <h:graphicImage library="images" name="portadaL.png" />
                                                    </h:link>

                                                    <div class="flex-caption">

                                                        <h3>E-Books</h3>
                                                        <p>Cansado de llenar estanterias con libros de papel?, en tu web o en tu móvil tendras la mayor de las bibliotecas.</p>
                                                    </div>                  
                                                </li>



                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Slider ends -->

                                </div>          
                            </h:panelGroup>

                        </h:panelGroup>


                        <!-- Service ends -->



                        <!-- Image blocks starts -->
                        <div class="most-valued">

                        </div>
                        <!-- Image blocks ends -->

                        <hr />


                        <!-- Recent posts starts -->

                        <div class="box-body recent-posts">


                        </div>

                        <!-- Recent posts ends -->

                    </h:panelGroup>
                </h:panelGroup>

            </h:panelGroup>

            <!-- Mainbar ends -->
            <div class="clearfix"></div>
            <!-- Foot starts -->             
            <div class="foot">



                <div class="row-fluid">
                    <div class="span12">
                        <hr class="visible-desktop"/>
                        <div class="copy">Copyright 2013 &copy; - <a href="#">O2MStore</a> - Designed by <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
                        </div>
                    </div>
                </div>
                <!-- Foot ends -->

            </div>

            <div class="clearfix"></div>

            <!-- Main content ends -->

        </div>

        <!-- Scroll to top -->
        <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 


        <!-- JS -->
        <h:outputScript rendered="#{carritoBean.endOrder}">

            alert("Pedido Finalizado");
        </h:outputScript>

        <h:outputScript name="jquery.js" library="js" />
        <h:outputScript name="indexJS.js" library="js" />
        <h:outputScript name="bootstrap.js" library="js" /><!-- Bootstrap -->
        <h:outputScript name="filter.js" library="js" /> <!-- Filter JS -->
        <h:outputScript name="jquery.carouFredSel-6.1.0-packed.js" library="js" /> <!-- CarouFredSel -->
        <h:outputScript name="jquery.flexslider-min.js" library="js" /> <!-- Flexslider -->
        <h:outputScript name="jquery.isotope.js" library="js" /> <!-- Isotope -->
        <h:outputScript name="jquery.prettyPhoto.js" library="js" /><!-- prettyPhoto -->
        <h:outputScript name="jquery.tweet.js" library="js" /> <!-- Tweet -->
        <h:outputScript name="custom.js" library="js" /> <!-- Main js file -->
        <h:outputScript name="navigation.js" library="js" /> <!-- Main js file -->

    </h:body>
</html>
