<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login Page</title>
    </h:head>
    <h:body>
        <div class="content">

            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="span12">  

                        <div class="well login-register">


                            <h5>Log In</h5>
                            <hr />

                            <div class="errorMsg">
                            </div>

                            <h:form class="form-horizontal">
                                <!-- Email -->
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email *</label>
                                    <div class="controls">
                                        <!--<input type="email" name="email" id="email" placeholder="Email" maxlength="40" required="true"/>-->
                                        <h:inputText id="email" value="#{loginBean.email}" validator="#{validationBean.validateEmail}">
                                        </h:inputText>
                                        <br/>
                                        <h:message for="email" style="color:red" />
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="control-group">
                                    <label class="control-label" for="inputPassword">Contraseña *</label>
                                    <div class="controls">
                                        <!--<input type="password" name="password" id="password" placeholder="Password" required="true"/>-->
                                        <h:inputSecret id="password" value="#{loginBean.password}" validator="#{validationBean.validatePassword}">
                                        </h:inputSecret>
                                        <br/>
                                        <h:message for="password" style="color:red" />
                                    </div>
                                </div>
                                <!-- Remember me checkbox and sign in button -->
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox"/> Recuerdame
                                        </label>
                                        <br/>
                                        <h:commandButton action="#{loginBean.createSession}" value="Log in" class="btn btn-danger">
                                            <f:setPropertyActionListener target="#{carritoBean.initPage}" value="true" />
                                            <f:setPropertyActionListener target="#{loginBean.showLogin}" value="false" />
                                        </h:commandButton>
                                        <h:commandButton type="reset" value="Reset" class="btn"/>
                                    </div>
                                </div>
                            </h:form>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <h:outputScript name="custom.js" library="js" /> <!-- Main js file -->

    </h:body>
</html>

