<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Nuevo Producto</title>
    </h:head>
    <h:body>
        <!-- Main content starts -->

        <div class="content">

            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="span12">  

                        <div class="well login-register">

                            <h5>Registrar producto</h5>
                            <hr />

                            <div class="form">
                                <!-- Register product form -->
                                <h:form id="form" enctype="multipart/form-data" class="form-horizontal">
                                    
                                    <!-- Name Producto-->
                                    <div class="control-group">
                                        <h:outputLabel class="control-label" for="name">Nombre Producto * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputText id="name" value="#{newProductBean.nombre }" class ="input-large" label="name" required="true" requiredMessage="Necesitamos que rellenes el campo Nombre Producto"/>
                                        </div>
                                    </div>
                                    <!-- Categoria -->
                                    <div class="control-group">
                                        <label class="control-label" for="select">Categoria *</label>
                                        <div class="controls">                               
                                            <h:selectOneMenu id="subcategoria" value="#{newProductBean.categoria }" label="select" required="true" requiredMessage="Necesitamos selecciones una Categoria">

                                                <f:selectItem id="item" itemValue="" itemLabel="Categorias"/>
                                                <f:selectItem id="item0" itemValue="aplicaciones" itemLabel="APLICACIONES"/>
                                                <f:selectItem id="item1" itemValue="android" itemLabel="-Android"/>
                                                <f:selectItem id="item2" itemValue="blackberry" itemLabel="-Blackberry"/>
                                                <f:selectItem id="item3" itemValue="iphone" itemLabel="-iPhone"/>
                                                <f:selectItem id="item4" itemValue="pelicula" itemLabel="PELICULAS"/>
                                                <f:selectItem id="item5" itemValue="terror" itemLabel="-Terror"/>
                                                <f:selectItem id="item6" itemValue="comedia" itemLabel="-Accion"/>
                                                <f:selectItem id="item7" itemValue="accion" itemLabel="-Ciencia Ficción"/>
                                                <f:selectItem id="item8" itemValue="cienciaficcion" itemLabel="-Animación"/>
                                                <f:selectItem id="item9" itemValue="drama" itemLabel="-Drama"/>
                                                <f:selectItem id="item10" itemValue="thriller" itemLabel="-Thriller"/>
                                                <f:selectItem id="item11" itemValue="musica" itemLabel="MÚSICA"/>
                                                <f:selectItem id="item12" itemValue="rock" itemLabel="-Rock"/>
                                                <f:selectItem id="item13" itemValue="metal" itemLabel="-Metal"/>
                                                <f:selectItem id="item14" itemValue="clasica" itemLabel="-Clásica"/>
                                                <f:selectItem id="item15" itemValue="hiphop" itemLabel="-Hip Hop"/>
                                                <f:selectItem id="item16" itemValue="disco" itemLabel="-Disco"/>
                                                <f:selectItem id="item17" itemValue="libros" itemLabel="LIBROS"/>
                                                <f:selectItem id="item18" itemValue="ciencias" itemLabel="-Ciencias"/>
                                                <f:selectItem id="item19" itemValue="cocina" itemLabel="-Cocina"/>
                                                <f:selectItem id="item20" itemValue="historia" itemLabel="-Historia"/>
                                                <f:selectItem id="item21" itemValue="informatica" itemLabel="-Informática"/>
                                                <f:selectItem id="item22" itemValue="clasicos" itemLabel="-Clásicos"/>
                                                <f:selectItem id="item23" itemValue="infantil" itemLabel="-Infantil"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                    <!-- Descripción -->
                                    <div class="control-group">
                                        <label class="control-label" for="descripcion">Breve descripción</label>
                                        <div class="controls">
                                            <h:inputTextarea value="#{newProductBean.descripcion}"/>
                                        </div>
                                    </div> 

                                    <!--Select Image-->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="imagen">Imagen de perfil * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputFile value="#{newProductBean.imagen }" id="imagen" required="true" requiredMessage="Necesitamos que le pongas una imagen al producto"></h:inputFile>  
                                            <!--<input type="file" name="imageProf"/>-->
                                        </div>
                                    </div> 

                                    <!-- Buttons -->
                                    <div class="form-actions">
                                        <!-- Buttons -->
                                        <h:commandButton action="#{newProductBean.createProduct()}" value="Registrar producto" class="btn btn-danger" />
                                        <h:commandButton type="reset" value="Reset" class="btn"/>
                                    </div>
                                </h:form>
                            </div> 


                        </div>

                    </div>

                </div>
            </div>

        </div>

        <script src="../js/custom.js"></script> <!-- Main js file -->
    </h:body>
</html>

