<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Profile Page</title>

        <script src="content/js/indexJS.js"></script>
        <script src="content/js/jquery.js"></script>
        <script src="content/js/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/lib/jquery-1.9.0.js"></script>
    </h:head>
    <h:body>
        <!-- Main content starts -->

        <div class="content">

            <div class="matter">
                <div class="container-fluid">

                    <!-- Title starts -->
                    <div class="page-title">
                        <h2>Perfil</h2>
                        <hr />
                    </div>
                    <!-- Title ends -->

                    <!-- Breadcrumb starts -->

                    <ul class="breadcrumb">
                        <li><a href="#">Inicio</a> <span class="divider">/</span></li>
                        <li><a href="#">Perfil</a> <span class="divider">/</span></li>
                        <li class="active">Datos</li>
                    </ul>        

                    <!-- Breadcrumb ends -->

                    <hr />

                    <!-- Content starts -->

                    <div class="box-body">
                        <div class="row-fluid">

                            <div class="span4">

                                <div class="well">
                                    <!-- Your details -->
                                    <div class="address">

                                        <address>
                                            <h6>#{loginBean.user.nombre}</h6>
                                            #{loginBean.user.apellidos}<br/>
                                            #{loginBean.user.rol}<br/>
                                            <a href="mailto:#">#{loginBean.user.email}</a>
                                            <img src="data:image/gif;base64,#{loginBean.user.imagen}" width="120" height="120" alt="imagen"/>
                                        </address>
                                    </div>
                                </div>

                            </div>

                            <div class="span8">
                                <h5>Editar Perfil</h5>
                                <hr />
                                <div class="form">
                                    <!-- Edit profile form (not working)-->
                                    <!-- Register form (not working)-->
                                    <h:form  enctype="multipart/form-data" class="form-horizontal">
                                        <!-- Name -->
                                        <div class="control-group">
                                            <h:outputLabel class="control-label" for="name">Nombre * </h:outputLabel>
                                            <div class="controls">
                                                <h:inputText id="name" label="name" value="#{profileBean.name}" class ="input-large" maxlength="30" required="true" requiredMessage="true"/>
                                                <!--<input type="text" name="name" class="input-large" id="name"  maxlength="30" required="true"/>-->
                                            </div>
                                        </div>
                                        <!-- Apellidos -->
                                        <div class="control-group">
                                            <h:outputLabel  class="control-label" for="apellidos">Apellidos * </h:outputLabel>
                                            <div class="controls">
                                                <h:inputText id="apellidos" label="apellidos" value="#{profileBean.lastName}" class ="input-large" maxlength="50" required="true" requiredMessage="true"/>
                                                <!--<input type="text" name="apellidos" class="input-large" id="apellidos" maxlength="50" required="true"/>-->
                                            </div>
                                        </div>
                                        <!-- Contraseña -->
                                        <div class="control-group">
                                            <h:outputLabel  class="control-label" for="password">Contraseña * </h:outputLabel>
                                            <div class="controls">
                                                <h:inputSecret id="password" label="password" value="#{profileBean.password}" class ="input-large" maxlength="20" required="true" requiredMessage="true"/>
                                                <!--<input type="password" name="password" class="input-large" id="password" maxlength="20" required="true"/>-->
                                            </div>
                                        </div>
                                        <!-- Contraseña2 -->
                                        <div class="control-group">
                                            <h:outputLabel  class="control-label" for="password2">Repita la contraseña *</h:outputLabel>
                                            <div class="controls">
                                                <h:inputSecret id="password2" label="password2" value="#{profileBean.password2}" class ="input-large" maxlength="20" required="true" requiredMessage="true"/>
                                                <!--<input type="password" name="password2" class="input-large" id="password2" maxlength="20" required="true"/>-->
                                            </div>
                                        </div>
                                        <!-- Email -->
                                        <div class="control-group">
                                            <h:outputLabel  class="control-label" for="email">Email * </h:outputLabel>
                                            <div class="controls">
                                                <h:inputText id="email" label="email" value="#{profileBean.email}" class ="input-large" maxlength="40" required="true" requiredMessage="true"/>
                                                <!--<input type="email" name="email" class="input-large" id="email" maxlength="40" required="true"/>-->
                                            </div>
                                        </div>

                                        <!--Select Image-->
                                        <div class="control-group">
                                            <h:outputLabel  class="control-label" for="imagen">Imagen de perfil * </h:outputLabel>
                                            <div class="controls">
                                                <h:inputFile value="#{profileBean.imagen}" id="imagen" label="imagen" ></h:inputFile>  
                                                <!--<input type="file" name="imageProf"/>-->
                                            </div>
                                        </div> 

                                        <!-- Buttons -->
                                        <div class="form-actions">
                                            <!-- Buttons -->
                                            <h:commandButton action="#{profileBean.editProfile(loginBean.user)}" id="perfilSubmit" type="submit" value="Editar" class="btn btn-danger"/><!--onsubmit="return comprobarContraseñas() "enctype='multipart/form-data'--> 
                                            <h:commandButton type="reset" value="Reset" class="btn"/>
                                        </div>
                                    </h:form>
                                </div>
                            </div>



                            <div class="mini-title">
                                <h3>PRODUCTOS SUBIDOS</h3>
                            </div>

                            <h:panelGroup class="row-fluid" id="lista">
                                <h:form>
                                    <ui:repeat var="prod" value="#{profileBean.listProduct}">
                                        <div class="span2">
                                            <!--Image block -->
                                            <div class="box-body">
                                                <div class="block-image">
                                                    <!--Link-->
                                                    <a>
                                                        <!--Overlay content-->
                                                        <div class="image-overlay">
                                                            <div class="image-big-text">#{prod.nombrep}</div>
                                                            <div class="image-small-text">#{prod.descripcion}</div>
                                                            <br/>

                                                            <h:commandButton value="Editar">
                                                                <f:ajax listener="#{editProductBean.prepareEditProduct(prod)}" render=":editarProd"/>
                                                            </h:commandButton>
                                                            <h:commandButton value="Eliminar">
                                                                <f:ajax listener="#{profileBean.borrarProducto(prod)}" render=":lista"/>
                                                            </h:commandButton>

                                                        </div>
                                                        <!--Image link-->
                                                        <img src="data:image/gif;base64,#{prod.imagen}" width="120" height="120" alt="test"/>

                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </ui:repeat>
                                </h:form>
                            </h:panelGroup>

                            <h:panelGroup id="editarProd">
                                <h:panelGroup rendered="#{editProductBean.editProd}">
                                    <!--Form edit-->
                                    <div class="content">

                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="span12">  

                                                    <div class="well login-register">

                                                        <h5>Editar producto</h5>
                                                        <hr />

                                                        <div class="form">
                                                            <!-- Register product form -->
                                                            <h:form enctype="multipart/form-data" class="form-horizontal">
                                                                <!-- Name Producto-->
                                                                <div class="control-group">
                                                                    <h:outputLabel class="control-label" for="name">Nombre Producto * </h:outputLabel>
                                                                    <div class="controls">
                                                                        <h:inputText id="name" value="#{editProductBean.nombre }" class ="input-large" label="name" required="true" requiredMessage="Necesitamos que rellenes el campo Nombre Producto"/>
                                                                    </div>
                                                                </div>
                                                                <!-- Categoria -->
                                                                <div class="control-group">
                                                                    <label class="control-label" for="select">Categoria *</label>
                                                                    <div class="controls">                               
                                                                        <h:selectOneMenu id="subcategoria" value="#{editProductBean.categoria }" label="select" required="true" requiredMessage="Necesitamos selecciones una Categoria">

                                                                            <f:selectItem id="item" itemValue="" itemLabel="Categorias"/>
                                                                            <f:selectItem id="item0" itemValue="aplicaciones" itemLabel="APLICACIONES"/>
                                                                            <f:selectItem id="item1" itemValue="android" itemLabel="-Android"/>
                                                                            <f:selectItem id="item2" itemValue="blackberry" itemLabel="-Blackberry"/>
                                                                            <f:selectItem id="item3" itemValue="iphone" itemLabel="-iPhone"/>
                                                                            <f:selectItem id="item4" itemValue="pelicula" itemLabel="PELICULAS"/>
                                                                            <f:selectItem id="item5" itemValue="terror" itemLabel="-Terror"/>
                                                                            <f:selectItem id="item6" itemValue="accion" itemLabel="-Accion"/>
                                                                            <f:selectItem id="item7" itemValue="cienciaficcion" itemLabel="-Ciencia Ficción"/>
                                                                            <f:selectItem id="item8" itemValue="animacion" itemLabel="-Animación"/>
                                                                            <f:selectItem id="item9" itemValue="drama" itemLabel="-Drama"/>
                                                                            <f:selectItem id="item10" itemValue="thriller" itemLabel="-Thriller"/>
                                                                            <f:selectItem id="item11" itemValue="musica" itemLabel="MÚSICA"/>
                                                                            <f:selectItem id="item12" itemValue="rock" itemLabel="-Rock"/>
                                                                            <f:selectItem id="item13" itemValue="metal" itemLabel="-Metal"/>
                                                                            <f:selectItem id="item14" itemValue="clasica" itemLabel="-Clásica"/>
                                                                            <f:selectItem id="item15" itemValue="hiphop" itemLabel="-Hip Hop"/>
                                                                            <f:selectItem id="item16" itemValue="disco" itemLabel="-Disco"/>
                                                                            <f:selectItem id="item17" itemValue="libros" itemLabel="LIBROS"/>
                                                                            <f:selectItem id="item18" itemValue="ciencias" itemLabel="-Ciencias"/>
                                                                            <f:selectItem id="item19" itemValue="cocina" itemLabel="-Cocina"/>
                                                                            <f:selectItem id="item20" itemValue="historia" itemLabel="-Historia"/>
                                                                            <f:selectItem id="item21" itemValue="informatica" itemLabel="-Informática"/>
                                                                            <f:selectItem id="item22" itemValue="clasicos" itemLabel="-Clásicos"/>
                                                                            <f:selectItem id="item23" itemValue="infantil" itemLabel="-Infantil"/>

                                                                        </h:selectOneMenu>
                                                                    </div>
                                                                </div>
                                                                <!-- Descripción -->
                                                                <div class="control-group">
                                                                    <label class="control-label" for="descripcion">Breve descripción</label>
                                                                    <div class="controls">
                                                                        <h:inputTextarea value="#{editProductBean.descripcion }"/>
                                                                    </div>
                                                                </div> 

                                                                <!--Select Image-->
                                                                <div class="control-group">
                                                                    <h:outputLabel  class="control-label" for="imagen">Imagen de perfil * </h:outputLabel>
                                                                    <div class="controls">
                                                                        <h:inputFile value="#{editProductBean.imagen }" id="imagen" required="true" requiredMessage="Necesitamos que le pongas una imagen al producto"></h:inputFile>  
                                                                        <!--<input type="file" name="imageProf"/>-->
                                                                    </div>
                                                                </div> 

                                                                <!-- Buttons -->
                                                                <div class="form-actions">
                                                                    <!-- Buttons -->
                                                                    <h:commandButton id="productSubmit" value="Registrar producto" class="btn btn-danger"  >
                                                                        <f:ajax listener="#{editProductBean.editProduct()}" execute="@all" />
                                                                    </h:commandButton>
                                                                    <h:commandButton type="reset" value="Reset" class="btn"></h:commandButton>
                                                                </div>
                                                            </h:form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!---->
                                </h:panelGroup>
                            </h:panelGroup>
                        </div>
                    </div>

                    <!-- Content ends -->

                </div>
            </div>


        </div>
        <!-- Mainbar ends -->
        <div class="clearfix"></div>


        <!--</div>-->

        <div class="clearfix"></div>

        <!-- Main content ends -->


        <!-- Scroll to top -->
        <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 

        
        <h:outputScript name="indexJS.js" library="js" />
    </h:body>
</html>

