<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>Registro Usuario</title>

        <script src="content/js/indexJS.js"></script>
        <script src="content/js/jquery.js"></script>
        <script src="content/js/jquery.validate.js"></script>
        <script src="http://jquery.bassistance.de/validate/lib/jquery-1.9.0.js"></script>
    </h:head>
    <h:body>
        <!-- Main content starts -->

        <div class="content">

            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="span12">  

                        <div class="well login-register">

                            <h5>Registro Usuario</h5>
                            <hr />
                            <div class="form">
                                
                                <!-- Register form-->
                                <h:form enctype="multipart/form-data" id="form" class="form-horizontal">
                                    <!-- Name -->
                                    <div class="control-group">
                                        <h:outputLabel class="control-label" value="Nombre * " for="name"/>
                                        <div class="controls">
                                            <h:inputText id="name" value="#{signInBean.name}" class ="input-large" label="Name" required="true" requiredMessage="Necesitamos que rellenes el campo Nombre"/>
                                        </div>
                                    </div>
                                    <!-- Apellidos -->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="apellidos">Apellidos * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputText id="apellidos" value="#{signInBean.lastName}" class ="input-large" maxlength="50" required="true" requiredMessage="Necesitamos que rellenes el campo Apellido"/>
                                            <!--<input type="text" name="apellidos" class="input-large" id="apellidos" maxlength="50" required="true"/>-->
                                        </div>
                                    </div>
                                    <!-- Contraseña -->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="password">Contraseña * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputSecret id="password" value="#{signInBean.password}" class ="input-large" maxlength="20" required="true" requiredMessage="Necesitamos que rellenes el campo Contraseña"/>
                                            <!--<input type="password" name="password" class="input-large" id="password" maxlength="20" required="true"/>-->
                                        </div>
                                    </div>
                                    <!-- Contraseña2 -->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="password2">Repita la contraseña * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputSecret id="password2" value="#{signInBean.password2}" class ="input-large" maxlength="20" required="true" requiredMessage="Necesitamos que rellenes el campo Repita la contraseña"/>
                                            <!--<input type="password" name="password2" class="input-large" id="password2" maxlength="20" required="true"/>-->
                                        </div>
                                    </div>
                                    <!-- Email -->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="email">Email * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputText id="email" value="#{signInBean.email}" class ="input-large" maxlength="40" required="true" requiredMessage="Necesitamos que rellenes el campo Email"/>
                                            <!--<input type="email" name="email" class="input-large" id="email" maxlength="40" required="true"/>-->
                                        </div>
                                    </div>       

                                    <!--Select Image-->
                                    <div class="control-group">
                                        <h:outputLabel  class="control-label" for="email">Imagen de perfil * </h:outputLabel>
                                        <div class="controls">
                                            <h:inputFile value="#{signInBean.imagen}" required="true" requiredMessage="Necesitamos que te pongas una imagen de perfil"></h:inputFile>
                                        </div>
                                    </div> 

                                    <!-- Buttons -->
                                    <div class="form-actions">
                                        <!-- Buttons -->
                                        <h:commandButton action="#{signInBean.newUser()}" type="submit" value="Registrar" class="btn btn-danger"/>
                                        <h:commandButton type="reset" value="Reset" class="btn"/>
                                    </div>
                                </h:form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <script src="../js/custom.js"></script> <!-- Main js file -->
    </h:body>
</html>

